<div class="container content">
  <div class="row">
    <div class="cold.md-12">
      <h1>

      </h1>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <h3>Módulo 1:</h3>
      </div>
      <div class="col-md-12">
        <app-lista-destino></app-lista-destino>
      </div>
  </div>
</div>

